.flex-container{
    height: 700px;
    background-color: #ccc;

    /* flex container로 지정 */
    display:flex;

   
   /* ----flex-direction---- */
    /* 중심축 방향(기본값 row) */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  flex-direction: column-reverse;



  /* -------justify-content------ */
  /* 중심축 방향 item 정렬 (기본 값 : flex-start)*/

    /* justify-content: flex-start; 아이템 한 묶음의 중심축 끝 방향에 둠 */
    justify-content: flex-end; 아이템 한 묶음의 중심축 끝 방향에 둠
    /* justify-content: center; 아이템 한 묶음의 중심축 가운데에 둠 */
   

   /*   justify-content: space-around;/*  요소 사이의 간격 - 빈 공간이 겹칠 수 있음 */
     justify-content: space-evenly;/*  요소 사이의 동일한 간격 - 빈 공간이 겹치지 않음 */
    /*  justify-content: space-between;/*  요소 사이의 간격 마지막 양 끝이 벽에 붙음 */
    
 /* -----align-items */
  /* 교차축 방향 item정렬(기본 값: stretch) */
  /* stretch에 교차축 방향 크기 지정 속성이 설정되지 않아야 한다. */

  /*  align-items:stretch;  */
  /* align-items: flex-end; 아이템이 묶음으로 밑바닥으로 내려감 */
  
   /* ***** align-items ***** */
  /* 교차축 방향 item 정렬(기본 값 : stretch) */

  /* stretch를 확인하려면 
  item에 교차축 방향 크기 지정 속성이 설정되지 않아야 한다*/
  /* align-items: stretch; */
  /* align-items: flex-start; */
  align-items: flex-end;
  /* align-items: center; */
  /* align-items: baseline; */
  /* align-items: center; */


}


.item2{padding: 5px;}
.item3{padding: 10px;}
.item4{padding: 15px;}
.item5{padding: 20px;}

}